.containerMessageReceptor{ 
    width: 45%;
    margin-right: 50%;
    background-color: var(--purple);
    border-radius: 5px;
    padding: 0.8rem;
    margin-bottom: 0.4rem;
}

.containerMessageSender{ 
    width: 45%;
    margin-left: 50%;
    background-color: var(--pink);
    border-radius: 5px;
    padding: 0.8rem;
    margin-bottom: 0.4rem;
}

.sender {
    font-size: 1.4rem;
}

.areaTimeMessage{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.areaTimeMessage .timeOfMessage{
    font-size: 1rem;
}

.messageContent {
    font-size: 1.4rem;
}